# Cnpy (https://github.com/rogersce/cnpy)
/cnpy

# PANUA (https://panua.ch/pardiso/)
get_fingerprint
/license

# Build
Makefile

# Pardiso Library (libpardiso.so) (+ liblapack.a/libblas.a)
/lib
/lib_a4

# LAPACK/BLAS
lapack-3.10.0
lapack-3.10.0.tar

# Executables
pardiso
pardiso_sym
pardiso_unsym
pardiso_samsung
pardiso_a4